{% extends 'management/base.html' %}

{% block title %}Selecione uma turma para modificar - Educarinova{% endblock title %}

{% block content %}
<!-- START PAGE CONTENT -->
<div class="content ">
  <!-- START JUMBOTRON -->
  <div class="jumbotron" data-pages="parallax">
    <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
      <div class="inner">
        <!-- START BREADCRUMB -->
        <ul class="breadcrumb">
          <li>
            <p>Educarinova</p>
          </li>
          <li><a href="#" class="active">Turma</a>
          </li>
        </ul>
        <!-- END BREADCRUMB -->
      </div>
    </div>
  </div>
  <!-- END JUMBOTRON -->
  <!-- START CONTAINER FLUID -->
  <div class="container-fluid container-fixed-lg">
   {% if class %}
      <div class="alert alert-success" role="alert">
                <button class="close" data-dismiss="alert"></button>
                <strong>Sucesso! </strong>Turma "{{class.name}}" foi cadastrada com sucesso! 
      </div>
 {% endif %}
    <!-- START PANEL -->
    <div class="panel panel-transparent">
      <div class="panel-heading">        
        <div class="row">
          <div class="col-md-8">
            <div class="panel-title">Selecione um aluno para modificar</div>
          </div>
          <div class="col-md-4">
            <div class="pull-right">
              <div class="col-xs-12" style="padding-right: 0;">
                <a href="{% url 'new_class' %}" class="btn btn-complete btn-animated from-left pg pg-plus"><span>Adicionar Turma</span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <form id="changelist-search" method="GET">
          <div><!-- DIV needed for valid HTML -->
            <div class="row">
              <div class="col-md-4">
                <input type="text" size="40" name="q" class="form-control" value="{{ query }}" id="id_search" placeholder="Digite para buscar uma turma" autofocus>
              </div>
              <div class="col-md-8">
                <button type="submit" class="btn btn-complete btn-cons btn-animated from-left pg pg-search">
                  <span>Pesquisar</span>
                </button>
                {% if query %}
                  <span class="small hint-text">{{ classes.paginator.count }} resultado{{ classes.paginator.count|pluralize }} (<a href="?">{{ total_classes }} total</a>)</span>
                {% endif %}
              </div>
            </div>
          </div>
        </form>
        <div class="clearfix"></div>
      </div>
      <div class="panel-body">
        <table class="table table-hover table-condensed dataTable no-footer">
          <thead>
            <tr>
              <th >
                <button class="btn"><i class="pg-trash"></i></button>
              </th>
              <th>Nome da turma</th>
              <th>Série</th>  
              <th>Ano Letivo</th>
              <th>Turno</th>     
              <th>Período</th>              
            </tr>
          </thead>
          <tbody>
          <!-- REVER ESSA ADAPTAÇÃO -->
          <style type="text/css">
              td.v-align-middle p{
                margin-top: 10px;
              }
          </style>
            {% for class in classes %}
            <tr>
              <td class="v-align-middle">
                <div class="checkbox">
                  <input type="checkbox" name='a' value="{{class.id}}" id="{{class.id}}">
                  <label for="{{class.id}}"></label>
                </div>
              </td>
              <td class="v-align-middle row-detail" data-href="{% url "detail_class" class.pk %}">
                <p>{{ class.name }}</p>
              </td>
              <td class="v-align-middle">
                <p>{{ class.serie }}</p>
              </td>
              <td class="v-align-middle">
                <p>{{ class.academic_year }}</p>
              </td>
               <td class="v-align-middle">
                <p>{{ class.shift }}</p>
              </td>
              <td class="v-align-middle">
                <p>{{ class.period }}</p>
              </td>
              
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <!-- END PANEL -->
  </div>
  <!-- END CONTAINER FLUID -->
</div>
<!-- END PAGE CONTENT -->
{% endblock content %}

{% block js-additional %}
<script>
    (function($) {
        'use strict';
        $(document).ready(function ($) {
            $(".row-detail").click(function () {
                window.document.location = $(this).data("href");
            });
        });
    })(window.jQuery);
</script>
{% endblock js-additional %}