{% extends 'management/base.html' %}
{% load static %}

{% block title %}Selecione um aluno para modificar - Educarinova{% endblock title %}

{% block content %}
<!-- START PAGE CONTENT -->
<div class="content ">
 <!-- START JUMBOTRON -->
  <div class="jumbotron" data-pages="parallax">
    <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
      <div class="inner">
        <!-- START BREADCRUMB -->
        <ul class="breadcrumb">
          <li>
            <p>Educarinova</p>
          </li>
          <li><a href="/students/">Alunos</a>
          </li>
          <li><a href="#" class="active">Novo/Editar Aluno</a>
          </li>
        </ul>
        <!-- END BREADCRUMB -->
      </div>
    </div>
  </div>
  <!-- END JUMBOTRON -->
  <!-- START CONTAINER FLUID -->
  <div class="container-fluid container-fixed-lg">
    <div id="rootwizard">
      <form role="form" action="." method="post">{% csrf_token %}
      <!-- Nav tabs -->
      <ul class="nav nav-tabs nav-tabs-linetriangle nav-tabs-separator nav-stack-sm">
        <li class="active">
          <a data-toggle="tab" href="#tab1"><i class="fa fa-user tab-icon"></i> <span>Informações gerais</span></a>
        </li>
        <li class="">
          <a data-toggle="tab" href="#tab2"><i class="fa fa-map tab-icon"></i> <span>Detalhes de endereço</span></a>
        </li>
        <li class="">
          <a data-toggle="tab" href="#tab3"><i class="fa fa-phone tab-icon"></i> <span>Contato</span></a>
        </li>
        <li class="">
          <a data-toggle="tab" href="#tab4"><i class="fa fa-graduation-cap tab-icon"></i> <span>Matrícula</span></a>
        </li>
        <li class="">
          <a data-toggle="tab" href="#tab5"><i class="fa fa-check tab-icon"></i> <span>Resumo</span></a>
        </li>
      </ul>
      <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane padding-20 active slide-left" id="tab1">
          <div class="row row-same-height">
            <div class="col-md-5 b-r b-dashed b-grey ">
              <div class="padding-30 m-t-50">
                <h2>Suas informações estão seguras conosco!</h2>
                <p>Nós respeitamos sua privacidade e protegemos seus dados com criptografia forte, além de políticas rigorosas de acesso a informação.</p>
                <p class="small hint-text">Quando novas informações surgem e as circunstâncias mudam já não é possível resolver os problemas com as soluções de ontem.</p>
              </div>
            </div>
            <div class="col-md-7">
              <div class="padding-30">
                  <p>Informações básica</p>
                  <div class="form-group-attached">
                    <div class="row clearfix">
                      <div class="col-sm-8">
                        <div class="form-group form-group-default required">
                          <label for="{{ form_student.name.id_for_label }}">{{ form_student.name.label }}</label>
                          {{ form_student.name.errors }}
                          {{ form_student.name }}
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <div class="form-group form-group-default required">
                          <label for="{{ form_student.cpf.id_for_label }}">{{ form_student.cpf.label }}</label>
                          {{ form_student.cpf.errors }}
                          {{ form_student.cpf }}
                        </div>
                      </div>
                    </div>
                    <div class="row clearfix">
                      <div class="col-sm-5">
                        <div class="form-group form-group-default input-group required">
                          <label for="{{ form_student.date_of_birth.id_for_label }}">{{ form_student.date_of_birth.label }}</label>
                          {{ form_student.date_of_birth.errors }}
                          {{ form_student.date_of_birth }}
                          <span class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                          </span>
                        </div>
                      </div>
                      <div class="col-sm-7">
                        <div class="form-group form-group-default">
                          <label for="{{ form_student.gender.id_for_label }}">{{ form_student.gender.label }}</label>
                          <div class="radio radio-complete" style="margin: 0;">
                            <input type="radio" checked="checked" value="M" name="gender" id="M">
                            <label for="M" style="display: inline-block; font-weight: normal; margin-left: 20px; opacity: 1;">Masculino</label>
                            <input type="radio" value="F" name="gender" id="F">
                            <label for="F" style="display: inline-block; font-weight: normal; margin-left: 20px; opacity: 1;">Feminino</label>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row clearfix">
                      <div class="col-sm-7">
                        <div class="form-group form-group-default required">
                          <label for="{{ form_student.rg.id_for_label }}">{{ form_student.rg.label }}</label>
                          {{ form_student.rg.errors }}
                          {{ form_student.rg }}
                        </div>
                      </div>
                      <div class="col-sm-5">
                        <div class="form-group form-group-default form-group-default-select2 required">
                          <label for="{{ form_student.dispatch_entity_rg.id_for_label }}">{{ form_student.dispatch_entity_rg.label }}</label>
                          {{ form_student.dispatch_entity_rg.errors }}
                          {{ form_student.dispatch_entity_rg }}
                        </div>
                      </div>
                    </div>
                    <div class="row clearfix">
                      <div class="col-sm-5">
                        <div class="form-group form-group-default form-group-default-select2 required">
                          <label for="{{ form_student.race.id_for_label }}">{{ form_student.race.label }}</label>
                          {{ form_student.race.errors }}
                          {{ form_student.race }}
                        </div>
                      </div>
                      <div class="col-sm-7">
                        <div class="form-group form-group-default form-group-default-select2 required">
                          <label for="{{ form_student.nationality.id_for_label }}">{{ form_student.nationality.label }}</label>
                          {{ form_student.nationality.errors }}
                          {{ form_student.nationality }}
                        </div>
                      </div>
                    </div>
                    <div class="form-group form-group-default required">
                      <label for="{{ form_student.naturalness.id_for_label }}">{{ form_student.naturalness.label }}</label>
                      {{ form_student.naturalness.errors }}
                      {{ form_student.naturalness }}
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane slide-left padding-20" id="tab2">
          <div class="row row-same-height">
            <div class="col-md-5 b-r b-dashed b-grey ">
              <div class="padding-30 m-t-50">
                <h2>Your Information is safe with us!</h2>
                <p>We respect your privacy and protect it with strong encryption, plus strict policies . Two-step verification, which we encourage all our customers to use.</p>
                <p class="small hint-text">Below is a sample page for your cart , Created using pages design UI Elementes</p>
              </div>
            </div>
            <div class="col-md-7">
              <div class="padding-30">
                  <p>Informações de endereço</p>
                  <div class="form-group-attached">
                    <div class="row clearfix">
                      <div class="col-sm-4">
                        <div class="form-group form-group-default form-group-default-select2 required">
                          <label for="{{ form_address.type_of_street.id_for_label }}">{{ form_address.type_of_street.label }}</label>
                          {{ form_address.type_of_street.errors }}
                          {{ form_address.type_of_street }}
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group form-group-default required">
                          <label for="{{ form_address.street.id_for_label }}">{{ form_address.street.label }}</label>
                          {{ form_address.street.errors }}
                          {{ form_address.street }}
                        </div>
                      </div>
                      <div class="col-sm-2">
                        <div class="form-group form-group-default required">
                          <label for="{{ form_address.house_number.id_for_label }}">{{ form_address.house_number.label }}</label>
                          {{ form_address.house_number.errors }}
                          {{ form_address.house_number }}
                        </div>
                      </div>
                    </div>
                    <div class="form-group form-group-default">
                      <label for="{{ form_address.complement.id_for_label }}">{{ form_address.complement.label }}</label>
                      {{ form_address.complement.errors }}
                      {{ form_address.complement }}
                    </div>
                    <div class="row clearfix">
                      <div class="col-sm-5">
                        <div class="form-group form-group-default required">
                          <label for="{{ form_address.district.id_for_label }}">{{ form_address.district.label }}</label>
                          {{ form_address.district.errors }}
                          {{ form_address.district }}
                        </div>
                      </div>
                      <div class="col-sm-7">
                        <div class="form-group form-group-default required">
                          <label for="{{ form_address.city.id_for_label }}">{{ form_address.city.label }}</label>
                          {{ form_address.city.errors }}
                          {{ form_address.city }}
                        </div>
                      </div>
                    </div>
                    <div class="row clearfix">
                      <div class="col-sm-9">
                        <div class="form-group form-group-default required">
                          <label for="{{ form_address.state.id_for_label }}">{{ form_address.state.label }}</label>
                          {{ form_address.state.errors }}
                          {{ form_address.state }}
                        </div>
                      </div>
                      <div class="col-sm-3">
                        <div class="form-group form-group-default">
                          <label for="{{ form_address.cep.id_for_label }}">{{ form_address.cep.label }}</label>
                          {{ form_address.cep.errors }}
                          {{ form_address.cep }}
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane slide-left padding-20" id="tab3">
          <div class="row row-same-height">
            <div class="col-md-5 b-r b-dashed b-grey ">
              <div class="padding-30 m-t-50">
                <h2>We Secured Your Line</h2>
                <p>Below is a sample page for your cart , Created using pages design UI Elementes</p>
                <p class="small hint-text">Below is a sample page for your cart , Created using pages design UI Elementes</p>
                <p class="small">By pressing Pay Now You will Agree to the Payment <a href="#">Terms &amp; Conditions</a></p>
              </div>
            </div>
            <div class="col-md-7">
              <div class="padding-30">
                  <p>Informações de contato</p>
                  <div class="form-group-attached">
                    <div class="row clearfix">
                      <div class="col-sm-6">
                        <div class="form-group form-group-default input-group required">
                          <span class="input-group-addon">
                            <select class="cs-select cs-skin-slide cs-transparent" data-init-plugin="cs-select" id="id_area_code">
                              <option data-countryCode="RN" value="84" Selected>RN (+84)</option>
                              <option data-countryCode="CE" value="85">CE (+85)</option>
                              <option data-countryCode="CE" value="88">CE (+88)</option>
                              <option data-countryCode="PB" value="83">PB (+83)</option>
                              <option data-countryCode="PE" value="81">PE (+81)</option>
                              <option data-countryCode="PE" value="87">PE (+87)</option>
                            </select>
                          </span>
                          <label for="{{ form_contact.cell_phone.id_for_label }}">{{ form_contact.cell_phone.label }}</label>
                          {{ form_contact.cell_phone.errors }}
                          {{ form_contact.cell_phone }}
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group form-group-default">
                          <label for="{{ form_contact.cell_phone_secondary.id_for_label }}">{{ form_contact.cell_phone_secondary.label }}</label>
                          {{ form_contact.cell_phone_secondary.errors }}
                          {{ form_contact.cell_phone_secondary }}
                        </div>
                      </div>
                    </div>
                    <div class="row clearfix">
                      <div class="col-sm-7">
                        <div class="form-group form-group-default">
                          <label for="{{ form_contact.phone.id_for_label }}">{{ form_contact.phone.label }}</label>
                          {{ form_contact.phone.errors }}
                          {{ form_contact.phone }}
                        </div>
                      </div>
                      <div class="col-sm-5">
                        <div class="form-group form-group-default">
                          <label for="{{ form_contact.phone_secondary.id_for_label }}">{{ form_contact.phone_secondary.label }}</label>
                          {{ form_contact.phone_secondary.errors }}
                          {{ form_contact.phone_secondary }}
                        </div>
                      </div>
                    </div>
                    <div class="form-group form-group-default required">
                      <label for="{{ form_contact.email.id_for_label }}">{{ form_contact.email.label }}</label>
                      {{ form_contact.email.errors }}
                      {{ form_contact.email }}
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane slide-left padding-20" id="tab4">
          <div class="row row-same-height">
            <div class="col-md-5 b-r b-dashed b-grey ">
              <div class="padding-30 m-t-50">
                <h2>We Secured Your Line</h2>
                <p>Below is a sample page for your cart , Created using pages design UI Elementes</p>
                <p class="small hint-text">Below is a sample page for your cart , Created using pages design UI Elementes</p>
                <p class="small">By pressing Pay Now You will Agree to the Payment <a href="#">Terms &amp; Conditions</a></p>
              </div>
            </div>
            <div class="col-md-7">
              <div class="padding-30">
                  <p>Informações de matrícula</p>
                  <div class="form-group-attached">
                    <div class="row clearfix">
                      <div class="col-sm-7">
                        <div class="form-group form-group-default">
                          <label for="{{ form_matriculation.number_matriculation.id_for_label }}">{{ form_matriculation.number_matriculation.label }}</label>
                          {{ form_matriculation.number_matriculation.errors }}
                          {{ form_matriculation.number_matriculation }}
                        </div>
                      </div>
                      <div class="col-sm-5">
                        <div class="form-group form-group-default form-group-default-select2">
                          <label for="{{ form_matriculation.status.id_for_label }}">{{ form_matriculation.status.label }}</label>
                          {{ form_matriculation.status.errors }}
                          {{ form_matriculation.status }}
                        </div>
                      </div>
                    </div>
                    <div class="form-group form-group-default form-group-default-select2 required">
                      <label for="{{ form_matriculation.school_class.id_for_label }}">{{ form_matriculation.school_class.label }}</label>
                      {{ form_matriculation.school_class.errors }}
                      {{ form_matriculation.school_class }}
                    </div>
                    <div class="row clearfix">
                      <div class="col-sm-8">
                        <div class="form-group form-group-default form-group-default-select2">
                          <label for="{{ form_tuition_fee.frequency_payment.id_for_label }}">{{ form_tuition_fee.frequency_payment.label }}</label>
                          {{ form_tuition_fee.frequency_payment.errors }}
                          {{ form_tuition_fee.frequency_payment }}
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <div class="form-group form-group-default form-group-default-select2">
                          <label for="{{ form_tuition_fee.expiration_day.id_for_label }}">{{ form_tuition_fee.expiration_day.label }}</label>
                          {{ form_tuition_fee.expiration_day.errors }}
                          {{ form_tuition_fee.expiration_day }}
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
        </div>
        <div class="tab-pane slide-left padding-20" id="tab5">
          <h1>Thank you.</h1>
        </div>
        <div class="padding-20 bg-white">
          <ul class="pager wizard">
            <li class="next">
              <button class="btn btn-complete btn-cons btn-animated from-left fa fa-map pull-right" type="button">
                <span>Próximo</span>
              </button>
            </li>
            <li class="next finish hidden">
              <button class="btn btn-complete btn-cons btn-animated from-left fa fa-cog pull-right" type="submit">
                <span>Finish</span>
              </button>
            </li>
            <li class="previous first hidden">
              <button class="btn btn-default btn-cons btn-animated from-left fa fa-cog pull-right" type="button">
                <span>Primeiro</span>
              </button>
            </li>
            <li class="previous">
              <button class="btn btn-default btn-cons pull-right" type="button">
                <span>Anterior</span>
              </button>
            </li>
          </ul>
        </div>
      </div>
      </form>
    </div>
  </div>
  <!-- END CONTAINER FLUID -->
</div>
<!-- END PAGE CONTENT -->
{% endblock content %}

{% block js-additional %}
<script type="text/javascript" src="{%  static 'management/assets/plugins/boostrap-form-wizard/js/jquery.bootstrap.wizard.min.js' %}"></script>
<script>
    (function($) {
        'use strict';
        $(document).ready(function() {
            $('#rootwizard').bootstrapWizard({
                onTabShow: function(tab, navigation, index) {
                    var $total = navigation.find('li').length;
                    var $current = index + 1;
                    if ($current >= $total) {
                        $('#rootwizard').find('.pager .next').hide();
                        $('#rootwizard').find('.pager .finish').show().removeClass('disabled hidden');
                    } else {
                        $('#rootwizard').find('.pager .next').show();
                        $('#rootwizard').find('.pager .finish').hide();
                    }
                    var li = navigation.find('li.active');
                    var btnNext = $('#rootwizard').find('.pager .next').find('button');
                    var btnPrev = $('#rootwizard').find('.pager .previous').find('button');

                    function removeIcons(btn) {
                        btn.removeClass(function(index, css) {
                            return (css.match(/(^|\s)fa-\S+/g) || []).join(' ');
                        });
                    }
                    if ($current > 1 && $current < $total) {
                        var nextIcon = li.next().find('.fa');
                        var nextIconClass = nextIcon.attr('class').match(/fa-[\w-]*/).join();
                        removeIcons(btnNext);
                        btnNext.addClass(nextIconClass + ' btn-animated from-left fa');
                        var prevIcon = li.prev().find('.fa');
                        var prevIconClass = prevIcon.attr('class').match(/fa-[\w-]*/).join();
                        removeIcons(btnPrev);
                        btnPrev.addClass(prevIconClass + ' btn-animated from-left fa');
                    } else if ($current == 1) {
                        btnPrev.removeClass('btn-animated from-left fa');
                        removeIcons(btnPrev);
                    } else {
                        btnNext.removeClass('btn-animated from-left fa');
                        removeIcons(btnNext);
                    }
                },
                onNext: function(tab, navigation, index) {
                    console.log("Showing next tab");
                },
                onPrevious: function(tab, navigation, index) {
                    console.log("Showing previous tab");
                },
                onInit: function() {
                    $('#rootwizard ul').removeClass('nav-pills');
                }
            });
            $('.remove-item').click(function() {
                $(this).parents('tr').fadeOut(function() {
                    $(this).remove();
                });
            });
        });
    })(window.jQuery);
</script>
<script>
$(document).ready(function() {
    $('#myDatepicker').datepicker();
});
$('.datepicker-component2').datepicker({format: 'dd/mm/yyyy', language: 'pt-BR'});
$("#id_cpf").mask("999.999.999-99");
$("#id_cep").mask("99999-999");
$("#id_cell_phone").mask("99999-9999");
$("#id_cell_phone_secondary").mask("99999-9999");
$("#id_phone").mask("9999-9999");
$("#id_phone_secondary").mask("9999-9999");
</script>
{% endblock js-additional %}