{% extends 'management/base.html' %}

{% block title %}Selecione um aluno para modificar - Educarinova{% endblock title %}

{% block content %}
<!-- START PAGE CONTENT -->
<div class="content ">
  <!-- START JUMBOTRON -->
  <div class="jumbotron" data-pages="parallax">
    <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
      <div class="inner">
        <!-- START BREADCRUMB -->
        <ul class="breadcrumb">
          <li>
            <p>Educarinova</p>
          </li>
          <li><a href="#" class="active">Alunos</a>
          </li>
        </ul>
        <!-- END BREADCRUMB -->
      </div>
    </div>
  </div>
  <!-- END JUMBOTRON -->
  <!-- START CONTAINER FLUID -->
  <div class="container-fluid container-fixed-lg">
    <!-- START PANEL -->
    <div class="panel panel-transparent">
      <div class="panel-heading">
        <div class="panel-title">Selecione um aluno para modificar
        </div>
        <div class="pull-right">
          <div class="col-xs-12">
            <a id="show-modal" href="new" class="btn btn-primary btn-cons"><i class="fa fa-plus"></i> Adicionar aluno
            </a>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="panel-body">
        <table class="table table-hover demo-table-dynamic" id="tableWithDynamicRows">
          <thead>
            <tr>
              <th style="width:1%">
                <button class="btn"><i class="pg-trash"></i></button>
              </th>
              <th>Nome</th>
              <th>CPF</th>
              <th>Data de Nascimento</th>
              <th>E-mail</th>
            </tr>
          </thead>
          <tbody>
            {% for student in students %}
            <tr>
              <td class="v-align-middle">
                <div class="checkbox ">
                  <input type="checkbox" value="3" id="checkbox1">
                  <label for="checkbox1"></label>
                </div>
              </td>
              <td class="v-align-middle">
                <p>{{ student.name }}</p>
              </td>
              <td class="v-align-middle">
                <p>{{ student.cpf }}</p>
              </td>
              <td class="v-align-middle">
                <p>{{ student.date_of_birth }}</p>
              </td>
              <td class="v-align-middle">
                <p>{{ student.contact }}</p>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <!-- END PANEL -->
  </div>
  <!-- END CONTAINER FLUID -->
</div>
<!-- END PAGE CONTENT -->
{% endblock content %}