{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta charset="utf-8" />
    <title>Educarinova - Sistema de Gerenciamento Escolar</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no" />
    <link rel="apple-touch-icon" href="{% static 'management/pages/ico/60.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'management/pages/ico/76.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'management/pages/ico/120.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'management/pages/ico/152.png' %}">
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta content="" name="description" />
    <meta content="" name="author" />
    <link href="{% static 'management/assets/plugins/pace/pace-theme-flash.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'management/assets/plugins/boostrapv3/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'management/assets/plugins/font-awesome/css/font-awesome.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'management/assets/plugins/jquery-scrollbar/jquery.scrollbar.css' %}" rel="stylesheet" type="text/css" media="screen" />
    <link href="{% static 'management/assets/plugins/bootstrap-select2/select2.css' %}" rel="stylesheet" type="text/css" media="screen" />
    <link href="{% static 'management/assets/plugins/switchery/css/switchery.min.css' %}" rel="stylesheet" type="text/css" media="screen" />
    <link href="{% static 'management/pages/css/pages-icons.css' %}" rel="stylesheet" type="text/css">
    <link class="main-stylesheet" href="{% static 'management/pages/css/pages.css' %}" rel="stylesheet" type="text/css" />
  </head>
  <body class="fixed-header ">
    <!-- BEGIN SIDEBPANEL-->
    <nav class="page-sidebar" data-pages="sidebar">
      <!-- BEGIN SIDEBAR MENU HEADER-->
      <div class="sidebar-header">
        <img src="{% static 'management/assets/img/logo_white.png' %}" alt="logo" class="brand" data-src="{% static 'management/assets/img/logo_white.png' %}" data-src-retina="assets/img/logo_white_2x.png"  height="22">
        <div class="sidebar-header-controls">
          <button type="button" class="btn btn-link visible-lg-inline" style="padding: .2em;" data-toggle-pin="sidebar"><i class="fa fs-12"></i>
          </button>
        </div>
      </div>
      <!-- END SIDEBAR MENU HEADER-->
      <!-- START SIDEBAR MENU -->
      <div class="sidebar-menu">
        <!-- BEGIN SIDEBAR MENU ITEMS-->
        <ul class="menu-items">
          <li class="m-t-30 ">
            <a href="/dashboard" class="detailed">
              <span class="title">Dashboard</span>
              <span class="details">12 New Updates</span>
            </a>
            <span class="bg-success icon-thumbnail"><i class="pg-home"></i></span>
          </li>
          <li>
            <a href="javascript:;"><span class="title">Pessoal</span>
            <span class=" arrow"></span></a>
            <span class="icon-thumbnail"><i class="fa fa-user"></i></span>
            <ul class="sub-menu">
              <li class="">
                <a href="calendar.html">Funcionarios</a>
                <span class="icon-thumbnail">F</span>
              </li>
              <li class="">
                <a href="calendar_lang.html">Professores</a>
                <span class="icon-thumbnail">P</span>
              </li>
              <li class="">
                <a href="/students/">Alunos</a>
                <span class="icon-thumbnail">A</span>
              </li>
            </ul>
          </li>
          <li>
            <a href="javascript:;"><span class="title">Acadêmico</span>
            <span class=" arrow"></span></a>
            <span class="icon-thumbnail"><i class="fa fa-graduation-cap"></i></span>
            <ul class="sub-menu">
              <li class="">
                <a href="calendar.html">Matrícula</a>
                <span class="icon-thumbnail">M</span>
              </li>
               <li class="">
                <a href="/class">Turmas</a>
                <span class="icon-thumbnail">T</span>
              </li>
              <li class="">
                <a href="/serie">Séries</a>
                <span class="icon-thumbnail">S</span>
              </li>
              
               <li class="">
                <a href="calendar.html">Horários</a>
                <span class="icon-thumbnail">H</span>
              </li>
               <li class="">
                <a href="calendar.html">Boletins</a>
                <span class="icon-thumbnail">B</span>
              </li>
              <li class="">
                <a href="/subject">Disciplinas</a>
                <span class="icon-thumbnail">D</span>
              </li>
            </ul>
          </li>
          <li>
            <a href="javascript:;"><span class="title">Financeiro</span>
            <span class=" arrow"></span></a>
            <span class="icon-thumbnail"><i class="fa fa-money"></i></span>
            <ul class="sub-menu">
                 <li class="">
                <a href="calendar.html">Contas a Pagar</a>
                <span class="icon-thumbnail">CP</span>
              </li>
              <li class="">
                <a href="calendar.html">Contas a Receber</a>
                <span class="icon-thumbnail">CR</span>
              </li>
              <li class="">
                <a href="calendar.html">Boletos</a>
                <span class="icon-thumbnail">B</span>
              </li>
            </ul>
          </li>
          <li>
            <a href="javascript:;"><span class="title">Estrutura</span>
            <span class=" arrow"></span></a>
            <span class="icon-thumbnail"><i class="fa fa-building"></i></span>
            <ul class="sub-menu">
              <li class="">
                <a href="/unit">Unidades Escolar</a>
                <span class="icon-thumbnail">UE</span>
              </li>
              <li class="">
                <a href="/classroom">Salas de Aula</a>
                <span class="icon-thumbnail">SA</span>
            </ul>
          </li>
          <li>
            <a href="javascript:;"><span class="title">Configuração</span>
            <span class=" arrow"></span></a>
            <span class="icon-thumbnail"><i class="fa fa-cog"></i></span>
            <ul class="sub-menu">
               <li class="">
                <a href="calendar.html">Editar Perfil</a>
                <span class="icon-thumbnail">EP</span>
              </li>
              <li class="">
                <a href="calendar.html">Plano de Serviço</a>
                <span class="icon-thumbnail">PS</span>
              </li>
              <li class="">
                <a href="calendar.html">layout</a>
                <span class="icon-thumbnail">L</span>
              </li>
            </ul>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <!-- END SIDEBAR MENU -->
    </nav>
    <!-- END SIDEBPANEL-->


    <!-- START PAGE-CONTAINER -->
    <div class="page-container ">
      <!-- START HEADER -->
      <div class="header ">
        <!-- START MOBILE CONTROLS -->
        <div class="container-fluid relative">
          <!-- LEFT SIDE -->
          <div class="pull-left full-height visible-sm visible-xs">
            <!-- START ACTION BAR -->
            <div class="header-inner">
              <a href="#" class="btn-link toggle-sidebar visible-sm-inline-block visible-xs-inline-block padding-5" data-toggle="sidebar">
                <span class="icon-set menu-hambuger"></span>
              </a>
            </div>
            <!-- END ACTION BAR -->
          </div>
          <div class="pull-center hidden-md hidden-lg">
            <div class="header-inner">
              <div class="brand inline">
                <img src="{% static 'management/assets/img/logo.png' %}" alt="logo" data-src="{% static 'management/assets/img/logo.png' %}" data-src-retina="assets/img/logo_2x.png" height="22">
              </div>
            </div>
          </div>
          <!-- RIGHT SIDE -->
          <div class="pull-right full-height visible-sm visible-xs">
            <!-- START ACTION BAR -->
            <div class="header-inner">
              <a href="#" class="btn-link visible-sm-inline-block visible-xs-inline-block" data-toggle="quickview" data-toggle-element="#quickview">
                <span class="icon-set menu-hambuger-plus"></span>
              </a>
            </div>
            <!-- END ACTION BAR -->
          </div>
        </div>
        <!-- END MOBILE CONTROLS -->
        <div class=" pull-left sm-table hidden-xs hidden-sm">
          <div class="header-inner">
            <div class="brand inline">
              <img src="{% static 'management/assets/img/logo.png' %}" alt="logo" style="margin-left: 4.4em;" data-src="{% static 'management/assets/img/logo.png' %}" data-src-retina="assets/img/logo_2x.png" height="22">
            </div>
            <!-- START NOTIFICATION LIST -->
            <ul class="notification-list no-margin hidden-sm hidden-xs b-grey b-l b-r no-style p-l-30 p-r-20">
              <li class="p-r-15 inline">
                <div class="dropdown">
                  <a href="javascript:;" id="notification-center" class="icon-set globe-fill" data-toggle="dropdown">
                    <span class="bubble"></span>
                  </a>
                  <!-- START Notification Dropdown -->
                  <div class="dropdown-menu notification-toggle" role="menu" aria-labelledby="notification-center">
                    <!-- START Notification -->
                    <div class="notification-panel">
                      <!-- START Notification Body-->
                      <div class="notification-body scrollable">
                        <!-- START Notification Item-->
                        <div class="notification-item unread clearfix">
                          <!-- START Notification Item-->
                          <div class="heading open">
                            <a href="#" class="text-complete pull-left">
                              <i class="pg-map fs-16 m-r-10"></i>
                              <span class="bold">Carrot Design</span>
                              <span class="fs-12 m-l-10">David Nester</span>
                            </a>
                            <div class="pull-right">
                              <div class="thumbnail-wrapper d16 circular inline m-t-15 m-r-10 toggle-more-details">
                                <div><i class="fa fa-angle-left"></i>
                                </div>
                              </div>
                              <span class=" time">few sec ago</span>
                            </div>
                            <div class="more-details">
                              <div class="more-details-inner">
                                <h5 class="semi-bold fs-16">“Apple’s Motivation - Innovation <br> 
                                                            distinguishes between <br>
                                                            A leader and a follower.”</h5>
                                <p class="small hint-text">
                                  Commented on john Smiths wall.
                                  <br> via pages framework.
                                </p>
                              </div>
                            </div>
                          </div>
                          <!-- END Notification Item-->
                          <!-- START Notification Item Right Side-->
                          <div class="option" data-toggle="tooltip" data-placement="left" title="mark as read">
                            <a href="#" class="mark"></a>
                          </div>
                          <!-- END Notification Item Right Side-->
                        </div>
                        <!-- START Notification Body-->
                        <!-- START Notification Item-->
                        <div class="notification-item  clearfix">
                          <div class="heading">
                            <a href="#" class="text-danger pull-left">
                              <i class="fa fa-exclamation-triangle m-r-10"></i>
                              <span class="bold">98% Server Load</span>
                              <span class="fs-12 m-l-10">Take Action</span>
                            </a>
                            <span class="pull-right time">2 mins ago</span>
                          </div>
                          <!-- START Notification Item Right Side-->
                          <div class="option">
                            <a href="#" class="mark"></a>
                          </div>
                          <!-- END Notification Item Right Side-->
                        </div>
                        <!-- END Notification Item-->
                        <!-- START Notification Item-->
                        <div class="notification-item  clearfix">
                          <div class="heading">
                            <a href="#" class="text-warning-dark pull-left">
                              <i class="fa fa-exclamation-triangle m-r-10"></i>
                              <span class="bold">Warning Notification</span>
                              <span class="fs-12 m-l-10">Buy Now</span>
                            </a>
                            <span class="pull-right time">yesterday</span>
                          </div>
                          <!-- START Notification Item Right Side-->
                          <div class="option">
                            <a href="#" class="mark"></a>
                          </div>
                          <!-- END Notification Item Right Side-->
                        </div>
                        <!-- END Notification Item-->
                        <!-- START Notification Item-->
                        <div class="notification-item unread clearfix">
                          <div class="heading">
                            <div class="thumbnail-wrapper d24 circular b-white m-r-5 b-a b-white m-t-10 m-r-10">
                              <img width="30" height="30" data-src-retina="assets/img/profiles/1x.jpg" data-src="{% static 'management/assets/img/profiles/1.jpg' %}" alt="" src="{% static 'management/assets/img/profiles/1.jpg' %}">
                            </div>
                            <a href="#" class="text-complete pull-left">
                              <span class="bold">Revox Design Labs</span>
                              <span class="fs-12 m-l-10">Owners</span>
                            </a>
                            <span class="pull-right time">11:00pm</span>
                          </div>
                          <!-- START Notification Item Right Side-->
                          <div class="option" data-toggle="tooltip" data-placement="left" title="mark as read">
                            <a href="#" class="mark"></a>
                          </div>
                          <!-- END Notification Item Right Side-->
                        </div>
                        <!-- END Notification Item-->
                      </div>
                      <!-- END Notification Body-->
                      <!-- START Notification Footer-->
                      <div class="notification-footer text-center">
                        <a href="#" class="">Read all notifications</a>
                        <a data-toggle="refresh" class="portlet-refresh text-black pull-right" href="#">
                          <i class="pg-refresh_new"></i>
                        </a>
                      </div>
                      <!-- START Notification Footer-->
                    </div>
                    <!-- END Notification -->
                  </div>
                  <!-- END Notification Dropdown -->
                </div>
              </li>
              <li class="p-r-15 inline">
                <a href="#" class="icon-set clip "></a>
              </li>
              <li class="p-r-15 inline">
                <a href="#" class="icon-set grid-box"></a>
              </li>
            </ul>
            <!-- END NOTIFICATIONS LIST -->
            <a href="#" class="search-link" data-toggle="search"><i class="pg-search"></i>Type anywhere to <span class="bold">search</span></a> </div>
        </div>
        <div class=" pull-right">
          <!-- START User Info-->
          <div class="visible-lg visible-md m-t-10">
            <div class="pull-left p-r-10 p-t-10 fs-16 font-heading">
              <span class="semi-bold">{{ user.first_name }}</span> <span class="text-master">{{ user.last_name }}</span>
            </div>
            <div class="dropdown pull-right">
              <button class="profile-dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="thumbnail-wrapper d32 circular inline m-t-5">
                <img src="{% static 'management/assets/img/profiles/avatar.jpg' %}" alt="" data-src="{% static 'management/assets/img/profiles/avatar.jpg' %}" data-src-retina="assets/img/profiles/avatar_small2x.jpg" width="32" height="32">
            </span>
              </button>
              <ul class="dropdown-menu profile-dropdown" role="menu">
                <li><a href="#"><i class="pg-settings_small"></i> Settings</a>
                </li>
                <li><a href="#"><i class="pg-outdent"></i> Feedback</a>
                </li>
                <li><a href="#"><i class="pg-signals"></i> Help</a>
                </li>
                <li class="bg-master-lighter">
                  <a href="{% url 'django.contrib.auth.views.logout' %}" class="clearfix">
                    <span class="pull-left">Logout</span>
                    <span class="pull-right"><i class="pg-power"></i></span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <!-- END User Info-->
        </div>
      </div>
      <!-- END HEADER -->
      <!-- START PAGE CONTENT WRAPPER -->
      <div class="page-content-wrapper ">
        {% block content %}
        {% endblock content %}
        <!-- START COPYRIGHT -->
        <div class="container-fluid container-fixed-lg footer">
          <div class="copyright sm-text-center">
            <p class="small no-margin pull-left sm-pull-reset">
              <span class="hint-text">Copyright &copy; 2016 </span>
              <span class="font-montserrat">Educarinova</span>.
              <span class="hint-text">Todos direitos reservados. </span>
              <span class="sm-block"><a href="#" class="m-l-10 m-r-10">Termos de uso</a> | <a href="#" class="m-l-10">Política de Privacidade</a></span>
            </p>
            <p class="small no-margin pull-right sm-pull-reset">
              <a href="#">Swaag Technology</a> <span class="hint-text">&amp; Made with Studiiotech ®</span>
            </p>
            <div class="clearfix"></div>
          </div>
        </div>
        <!-- END COPYRIGHT -->
      </div>
      <!-- END PAGE CONTENT WRAPPER -->
    </div>
    <!-- END PAGE CONTAINER -->

    <!-- BEGIN VENDOR JS -->
    <script src="{% static 'management/assets/plugins/pace/pace.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'management/assets/plugins/jquery/jquery-1.11.1.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'management/assets/plugins/modernizr.custom.js' %}" type="text/javascript"></script>
    <script src="{% static 'management/assets/plugins/jquery-ui/jquery-ui.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'management/assets/plugins/boostrapv3/js/bootstrap.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'management/assets/plugins/jquery/jquery-easy.js' %}" type="text/javascript"></script>
    <script src="{% static 'management/assets/plugins/jquery-unveil/jquery.unveil.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'management/assets/plugins/jquery-bez/jquery.bez.min.js' %}"></script>
    <script src="{% static 'management/assets/plugins/jquery-ios-list/jquery.ioslist.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'management/assets/plugins/jquery-actual/jquery.actual.min.js' %}"></script>
    <script src="{% static 'management/assets/plugins/jquery-scrollbar/jquery.scrollbar.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'management/assets/plugins/bootstrap-select2/select2.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'management/assets/plugins/classie/classie.js' %}"></script>
    <script src="{% static 'management/assets/plugins/switchery/js/switchery.min.js' %}" type="text/javascript"></script>
    <!-- END VENDOR JS -->
    {% block js-additional %}
    {% endblock js-additional %}
    <!-- BEGIN CORE TEMPLATE JS -->
    <script src="{% static 'management/pages/js/pages.min.js' %}"></script>
    <!-- END CORE TEMPLATE JS -->
    <!-- BEGIN PAGE LEVEL JS -->
    <script src="{% static 'management/assets/js/scripts.js' %}" type="text/javascript"></script>
    <!-- END PAGE LEVEL JS -->
  </body>
</html>