{% extends 'management/base.html' %}

{% block title %}Selecione uma disciplina para modificar - Educarinova{% endblock title %}

{% block content %}
<!-- START PAGE CONTENT -->
<div class="content ">
  <!-- START JUMBOTRON -->
  <div class="jumbotron" data-pages="parallax">
    <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
      <div class="inner">
        <!-- START BREADCRUMB -->
        <ul class="breadcrumb">
          <li>
            <p>Educarinova</p>
          </li>
          <li><a href="#" class="active">Disciplina</a>
          </li>
        </ul>
        <!-- END BREADCRUMB -->
      </div>
    </div>
  </div>
  <!-- END JUMBOTRON -->
  <!-- START CONTAINER FLUID -->
  <div class="container-fluid container-fixed-lg">
    <!-- START PANEL -->
    <div class="panel panel-transparent">
      <div class="panel-heading">        
        <div class="row">
          <div class="col-md-8">
            <div class="panel-title">Selecione um sistema para modificar</div>
          </div>
          <div class="col-md-4">
            <div class="pull-right">
              <div class="col-xs-12" style="padding-right: 0;">
                <a href="{% url 'new_systemclass' %}" class="btn btn-complete btn-animated from-left pg pg-plus"><span>Adicionar Sistema</span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <form id="changelist-search" method="GET">
          <div><!-- DIV needed for valid HTML -->
            <div class="row">
              <div class="col-md-4">
                <input type="text" size="40" name="q" class="form-control" value="{{ query }}" id="id_search" placeholder="Digite para buscar um sistema" autofocus>
              </div>
              <div class="col-md-8">
                <button type="submit" class="btn btn-complete btn-cons btn-animated from-left pg pg-search">
                  <span>Pesquisar</span>
                </button>
                {% if query %}
                  <span class="small hint-text">{{ systemclasses.paginator.count }} resultado{{ systemclasses.paginator.count|pluralize }} (<a href="?">{{ total_systemclasses }} total</a>)</span>
                {% endif %}
              </div>
            </div>
          </div>
        </form>
        <div class="clearfix"></div>
      </div>
      <div class="panel-body">
        <table class="table table-striped dataTable no-footer">
          <thead>
            <tr>
              <th style="width:1%">
                <button class="btn"><i class="pg-trash"></i></button>
              </th>
              <th>Sistema</th>  
              <th>Início</th> 
              <th>Término</th> 
            </tr>
          </thead>
          <tbody>
            {% for systemclass in systemclasses %}
            <tr>
              <td class="v-align-middle">
                <div class="checkbox ">
                  <input type="checkbox" name='systemclass' value="{{systemclass.id}}" id="{{systemclass.id}}">
                  <label for="{{systemclass.id}}"></label>
                </div>
              </td>
              <td class="v-align-middle">
                <p>{{ systemclass.system }}</p></td>
                 <td class="v-align-middle">
                <p>{{ systemclass.start_time }}</p></td> <td class="v-align-middle">
                <p>{{ systemclass.end_time }}</p></td>
              
                            
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <!-- END PANEL -->
  </div>
  <!-- END CONTAINER FLUID -->
</div>
<!-- END PAGE CONTENT -->
{% endblock content %}

{% block js-additional %}
<script>
  $("#id_cpf").mask("99:99");
  $("#id_cep").mask("99:99");
</script>

{% endblock js-additional %}