{% extends 'management/base.html' %}
{% block title %}Editando uma Série - Educarinova{% endblock title %}
{% block content %}
<!-- START PAGE CONTENT -->
<div class="content ">
  <!-- START JUMBOTRON -->
  <div class="jumbotron" data-pages="parallax">
    <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
      <div class="inner">
        <!-- START BREADCRUMB -->
        <ul class="breadcrumb">
          <li>
            <p>Educarinova</p>
          </li>
          <li><a href="/subject">Disciplina</a>
          <li><a href="#" class="active">Nova Disciplina</a>
        </li>
      </ul>
      <!-- END BREADCRUMB -->
    </div>
  </div>
</div>
<!-- END JUMBOTRON -->
<!-- START CONTAINER FLUID -->
<div class="container-fluid container-fixed-lg bg-white">
  <div class="row">
    <div class="col-lg-7 col-md-6 ">
      <div class="panel panel-transparent">
        <div class="panel-body">
          <form role="form" action="" method="POST">
          {% csrf_token %}
            {% for field in form %}
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group form-group-default required">
                  <label>{{field.label}}</label>
                  {{field}}
                </div>
                 <label class="error">{{field.errors}}</label>
              </div>
            </div>
            {% endfor %}

            <div class="clearfix"></div>
            <button class="btn btn-complete" type="submit">Cadastrar</button>
            <a href="/subject" class="btn btn-danger" type="submit">Cancelar</a>
          </form>
        </div>
      </div>
      
    </div>
    <div class="col-lg-5 col-md-6">
      <div class="panel panel-transparent">
        <div class="panel-body">
          <h4>Disciplinas</h4>
          <p>As disciplinas são necessárias para criar e organizar<br/>
            todos os horários e responsabilidades dos professores.
           </p>
        </div>
      </div>
      
    </div>
  </div>
</div>
<!-- END CONTAINER FLUID -->
</div>
<!-- END PAGE CONTENT -->
{% endblock content %}